@import url("https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Montserrat&display=swap");
@font-face {
  font-family: 'cervanttisregular';
  src: url("fonts/cervanttis-webfont.woff2") format("woff2"), url("fonts/cervanttis-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'Montserrat';
  color: #565656;
  font-size: 18px; }
  @media (min-width: 900px) {
    body {
      font-size: 20px; } }
  @media (min-width: 1200px) {
    body {
      font-size: 22px; } }

h1 {
  font-size: 2.5em;
  font-weight: 700;
  color: #565656; }

p, ul {
  font-size: .9em;
  line-height: 1.5em; }

.hero {
  font-family: 'Montserrat';
  height: 90vh;
  position: relative; }
  .hero__socials {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    bottom: 0;
    padding: 1em;
    background-color: #FFF; }
    .hero__socials svg {
      width: 30px;
      height: 30px;
      margin-bottom: 1em;
      fill: #565656; }
      .hero__socials svg:hover {
        fill: #B00ECC; }
  .hero__img {
    position: absolute;
    background: url(../images/about10.png);
    background-size: cover;
    width: 100%;
    height: 90vh;
    right: 0;
    z-index: -1; }
    @media (min-width: 550px) {
      .hero__img {
        width: 40%; } }
    @media (min-width: 1200px) {
      .hero__img {
        right: 0;
        width: 40%; } }
  .hero__content {
    font-family: 'Montserrat';
    background: rgba(255, 255, 255, 0.7);
    padding: 7em 4em 7em 3em; }
    @media (min-width: 550px) {
      .hero__content {
        padding: 9em 4em 7em 6em; } }
    @media (min-width: 900px) {
      .hero__content {
        background: none;
        padding: 7em 4em 7em 8em; } }
    @media (min-width: 1200px) {
      .hero__content {
        padding: 7em 4em 4em 10em; } }
    .hero__content--title {
      font-family: 'cervanttisregular';
      font-weight: normal;
      font-size: 1.5em; }
      .hero__content--title span {
        color: #B00ECC;
        font-weight: 700; }
    .hero__content--sub {
      font-size: 2.5em;
      margin-bottom: .5em;
      font-weight: 700;
      color: #565656; }
    .hero__content--text {
      font-size: .9em;
      line-height: 1.5em;
      padding-left: 25%; }
      @media (min-width: 550px) {
        .hero__content--text {
          width: 100%;
          padding-left: 30%; } }
      @media (min-width: 900px) {
        .hero__content--text {
          width: 50%;
          padding-left: 15%; } }
      .hero__content--text:before {
        content: '';
        position: absolute;
        left: 0;
        height: 4em;
        width: 20%;
        background: #B00ECC;
        margin-top: .3em; }
        @media (min-width: 550px) {
          .hero__content--text:before {
            width: 25%; } }
        @media (min-width: 1200px) {
          .hero__content--text:before {
            height: 2em; } }
  .hero__footer {
    width: 70%;
    background: #565656;
    display: flex;
    position: relative;
    margin-top: 1em; }
    .hero__footer:after {
      content: '';
      position: absolute;
      left: 90%;
      top: 80%;
      height: 1em;
      width: 20%;
      background: #B00ECC; }
      @media (min-width: 1200px) {
        .hero__footer:after {
          width: 20%;
          height: 1em;
          top: 85%;
          left: 90%; } }
    @media (min-width: 550px) {
      .hero__footer {
        margin-top: 0; } }
    @media (min-width: 900px) {
      .hero__footer {
        width: 70%; } }
    .hero__footer--img {
      width: 8em;
      height: 8em; }
      @media (min-width: 900px) {
        .hero__footer--img {
          width: 12em;
          height: 12em;
          background: url(../images/main2.jpg);
          background-size: cover; } }
      @media (min-width: 1200px) {
        .hero__footer--img {
          width: 20em; } }
    .hero__footer--cta {
      color: #FFF;
      text-decoration: none;
      align-self: center;
      justify-content: flex-start;
      position: relative;
      white-space: nowrap; }
      @media (min-width: 900px) {
        .hero__footer--cta {
          margin: 1em 10em; } }
      .hero__footer--cta:before {
        content: '';
        position: absolute;
        width: 1%;
        height: 3em;
        left: -1em;
        top: -1em;
        border: 0.1em solid #B00ECC;
        transition: all .3s; }
      .hero__footer--cta:hover::before {
        width: 120%;
        transition: all .3s; }

.story {
  position: relative;
  margin-top: 5em;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(7, 10vh);
  grid-gap: 1em;
  font-family: 'Montserrat'; }
  @media (min-width: 900px) {
    .story {
      height: 100vh;
      margin-top: 10em; } }
  @media (min-width: 1200px) {
    .story::before {
      content: '';
      height: 2em;
      grid-column: 8 / -1;
      grid-row: 3 / 4;
      background-color: #B00ECC; } }
  .story__img--1 {
    width: 100%;
    z-index: 999;
    grid-column: 1 / -1;
    grid-row: 5 / -1; }
    @media (min-width: 550px) {
      .story__img--1 {
        grid-row: 4 / -1; } }
    @media (min-width: 900px) {
      .story__img--1 {
        grid-column: 1 / 8;
        grid-row: 1 / 4; } }
    @media (min-width: 1200px) {
      .story__img--1 {
        grid-column: 5 / 11;
        grid-row: 4 / 8; } }
  .story__img--2 {
    display: none; }
    @media (min-width: 900px) {
      .story__img--2 {
        display: block;
        width: 100%;
        grid-column: 6 / -1;
        grid-row: 2 / 5; } }
    @media (min-width: 1200px) {
      .story__img--2 {
        grid-column: 1 / 7;
        grid-row: 2 / 6; } }
  .story__content {
    grid-column: 2 / 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, 10vh); }
    @media (min-width: 900px) {
      .story__content {
        grid-row: 5 / -1; } }
    @media (min-width: 1200px) {
      .story__content {
        grid-row: 7 / -1; } }
    .story__content--title {
      font-size: 2.5em;
      font-weight: 700;
      color: #565656;
      grid-column: 1 / -1; }
      @media (min-width: 900px) {
        .story__content--title {
          z-index: 999; } }
    .story__content--text {
      font-size: .9em;
      line-height: 1.5em;
      grid-column: 1 / -1;
      grid-row: 2 / 5;
      margin-top: 1em; }
      @media (min-width: 1200px) {
        .story__content--text {
          margin-top: 2em;
          grid-column: 1 / 8; } }
    .story__content--cta {
      grid-column: 1 / 2;
      grid-row: 4 / 5;
      color: #565656;
      text-decoration: none;
      position: relative;
      margin: 3em 1em;
      white-space: nowrap; }
      @media (min-width: 550px) {
        .story__content--cta {
          grid-row: 3 / 4; } }
      .story__content--cta:before {
        content: '';
        position: absolute;
        width: 1%;
        height: 3em;
        left: -1em;
        top: -1em;
        border: 0.1em solid #B00ECC;
        transition: all .3s;
        z-index: -2; }
      .story__content--cta:hover::before {
        width: 130%;
        transition: all .3s; }

.quote__container {
  width: 100%;
  height: 70vh; }
  .quote__container .quote {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 70vh;
    margin: 5em auto;
    position: relative; }
    .quote__container .quote::before {
      display: none;
      content: '';
      position: absolute;
      height: 1em;
      background-color: #B00ECC; }
      @media (min-width: 900px) {
        .quote__container .quote::before {
          display: block;
          width: 60%;
          bottom: 60%;
          left: 50%; } }
      @media (min-width: 1200px) {
        .quote__container .quote::before {
          width: 40%;
          left: 70%;
          bottom: 70%; } }
    .quote__container .quote__title {
      color: #565656;
      width: 100%;
      font-size: 2.5em; }
      @media (min-width: 550px) {
        .quote__container .quote__title {
          width: 70%; } }
      @media (min-width: 900px) {
        .quote__container .quote__title {
          width: 50%; } }
    .quote__container .quote__content {
      color: #565656;
      font-size: .9em;
      line-height: 1.5em;
      margin-bottom: 2em; }

.projects {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1em; }
  @media (min-width: 550px) {
    .projects {
      grid-template-rows: repeat(5, 10vh); } }
  @media (min-width: 900px) {
    .projects {
      grid-template-rows: repeat(10, 10vh); } }
  .projects__one {
    grid-column: 1 / -1;
    grid-row: 1 / 5; }
    @media (min-width: 550px) {
      .projects__one {
        grid-column: 1 / 7; } }
    @media (min-width: 900px) {
      .projects__one {
        grid-row: 1 / 10; } }
  .projects__two {
    grid-column: 1 / -1;
    grid-row: 5 / 7; }
    @media (min-width: 550px) {
      .projects__two {
        grid-column: 7 / -1;
        grid-row: 1 / 3; } }
    @media (min-width: 900px) {
      .projects__two {
        grid-row: 1 / 5; } }
  .projects__three {
    grid-column: 1 / -1;
    grid-row: 7 / 10; }
    @media (min-width: 550px) {
      .projects__three {
        grid-column: 7 / -1;
        grid-row: 3 / 5; } }
    @media (min-width: 900px) {
      .projects__three {
        grid-row: 5 / 10; } }

.section__about--container {
  width: 100%; }
  @media (min-width: 900px) {
    .section__about--container {
      height: 130vh; } }
  @media (min-width: 1200px) {
    .section__about--container {
      height: 150vh; } }
  .section__about--container .section__about {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: -4em auto;
    position: relative;
    font-family: 'Montserrat'; }
    .section__about--container .section__about::before {
      content: '';
      position: absolute;
      height: 1em;
      background-color: #B00ECC;
      bottom: 45%;
      width: 30%;
      left: 80%; }
      @media (min-width: 550px) {
        .section__about--container .section__about::before {
          width: 40%;
          bottom: 70%;
          left: 70%; } }
      @media (min-width: 900px) {
        .section__about--container .section__about::before {
          width: 60%;
          bottom: 70%;
          left: 50%; } }
    .section__about--container .section__about--title {
      color: #565656;
      width: 100%;
      font-size: 2.5em; }
      @media (min-width: 550px) {
        .section__about--container .section__about--title {
          width: 70%; } }
      @media (min-width: 900px) {
        .section__about--container .section__about--title {
          width: 50%; } }
    .section__about--container .section__about--content {
      color: #565656;
      font-size: .9em;
      line-height: 1.5em;
      margin-bottom: 2em; }
    .section__about--container .section__about--img {
      width: 100%;
      max-height: 30vh;
      margin-top: 7em; }
      @media (min-width: 900px) {
        .section__about--container .section__about--img {
          max-height: 60vh; } }
      @media (min-width: 1200px) {
        .section__about--container .section__about--img {
          width: 80%;
          max-height: 80vh; } }

.images {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 10vh); }
  @media (min-width: 1200px) {
    .images {
      grid-template-rows: repeat(10, 10vh); } }
  .images__one {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    z-index: 1; }
    @media (min-width: 1200px) {
      .images__one {
        grid-column: 1 / 9;
        grid-row: 1 / 8; } }
  .images__two {
    display: none; }
    @media (min-width: 1200px) {
      .images__two {
        display: block;
        grid-column: 6 / -1;
        grid-row: 5 / 10; } }

.test {
  width: 80%;
  margin: 5em auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 2em; }
  .test--title {
    font-size: 2.5em;
    grid-column: 1 / -1; }
  .test--img {
    grid-column: 1 / -1;
    height: 500px; }
    @media (min-width: 900px) {
      .test--img {
        grid-column: 1 / 6; } }
    @media (min-width: 1200px) {
      .test--img {
        grid-column: 1 / 8;
        height: 900px; } }
  .test__content {
    grid-column: 1 / -1; }
    @media (min-width: 900px) {
      .test__content {
        grid-column: 6 / -1; } }
    @media (min-width: 1200px) {
      .test__content {
        grid-column: 8 / -1; } }
    .test__content--text {
      padding-bottom: 2em; }

.different {
  width: 80%;
  height: min-content;
  margin: 0 auto 10em auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 2em; }
  .different__content--title {
    margin-bottom: 2em; }
  .different__content:first-child {
    grid-column: 1 / -1; }
  .different__content:last-child {
    grid-column: 1 / -1; }
  .different__content--text, .different__content--list--item {
    margin-bottom: 2em; }
  .different__content--text:last-of-type, .different__content--list--item:last-of-type {
    margin-bottom: 0; }
  .different .one, .different .two {
    margin-bottom: 2em; }

.why {
  width: 80%;
  margin: 5em auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 10vh);
  grid-gap: 1em;
  position: relative; }
  .why::before {
    content: '';
    position: absolute;
    height: 1em;
    background-color: #B00ECC;
    top: 13%;
    width: 70%;
    left: 40%; }
    @media (min-width: 900px) {
      .why::before {
        top: 5%; } }
    @media (min-width: 1400px) {
      .why::before {
        width: 60%;
        left: 50%; } }
  .why__title {
    grid-column: 1 / -1;
    grid-row: 1 / 2; }
    @media (min-width: 900px) {
      .why__title {
        grid-column: 1 / 6;
        grid-row: 1 / -1; } }
  .why__img {
    display: none; }
    @media (min-width: 1400px) {
      .why__img {
        display: block;
        width: 100%;
        grid-column: 1 / -1;
        grid-row: 3 / 11;
        transform: translateX(-52%); } }
  .why__content--one {
    grid-column: 1 / -1;
    grid-row: 3 / 4; }
    @media (min-width: 900px) {
      .why__content--one {
        grid-column: 6 / -1; } }
    @media (min-width: 1400px) {
      .why__content--one {
        grid-column: 7 / -1; } }
    .why__content--one--title {
      margin-bottom: 1em; }
  .why__content--two {
    grid-column: 1 / -1;
    grid-row: 5 / 6; }
    @media (min-width: 900px) {
      .why__content--two {
        grid-column: 6 / -1; } }
    @media (min-width: 1400px) {
      .why__content--two {
        grid-column: 7 / -1; } }
    .why__content--two--title {
      margin-bottom: 1em; }
  .why__content--three {
    grid-column: 1 / -1;
    grid-row: 7 / 8; }
    @media (min-width: 900px) {
      .why__content--three {
        grid-column: 6 / -1; } }
    @media (min-width: 1400px) {
      .why__content--three {
        grid-column: 7 / -1; } }
    .why__content--three--title {
      margin-bottom: 1em; }
  .why__content--four {
    grid-column: 1 / -1;
    grid-row: 9 / 10; }
    @media (min-width: 900px) {
      .why__content--four {
        grid-column: 6 / -1; } }
    @media (min-width: 1400px) {
      .why__content--four {
        grid-column: 7 / -1; } }
    .why__content--four--title {
      margin-bottom: 1em; }

.about {
  font-family: 'Montserrat';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto; }
  .about:before {
    content: '';
    left: 0;
    height: 5em;
    width: .2%;
    background: #B00ECC; }
  .about__title {
    font-size: 1em;
    font-weight: normal; }
  .about__subtitle {
    font-weight: 700;
    font-size: 2em;
    padding-bottom: 2em; }
  .about__container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, 10vh);
    grid-gap: 1em; }
    .about__container--img {
      grid-column: 1 / -1;
      grid-row: 3 / 7;
      width: 100%;
      height: 100%; }
      @media (min-width: 900px) {
        .about__container--img {
          grid-column: 1 / 7;
          grid-row: 1 / 7; } }
    .about__container--content {
      grid-column: 2 / 11;
      grid-row: 1 / 2; }
      @media (min-width: 900px) {
        .about__container--content {
          grid-column: 7 / -1;
          grid-row: 1 / 2; } }
      .about__container--content:before {
        content: '';
        position: absolute;
        left: 0;
        height: 10em;
        width: 5%;
        left: 80%;
        top: 70%;
        background: #B00ECC; }
        @media (min-width: 900px) {
          .about__container--content:before {
            height: 1.5em;
            grid-column: 5 / 11;
            grid-row: 6 / 10;
            width: 100%;
            left: 0;
            top: 0; } }
    .about__container--cta {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      color: #565656;
      text-decoration: none;
      position: relative;
      margin: 3em 1em;
      white-space: nowrap; }
      @media (min-width: 900px) {
        .about__container--cta {
          grid-column: 7 / 9; } }
      .about__container--cta:before {
        content: '';
        position: absolute;
        width: 1%;
        height: 3em;
        left: -1em;
        top: -1em;
        border: 0.1em solid #B00ECC;
        transition: all .3s;
        z-index: -2; }
      .about__container--cta:hover::before {
        width: 130%;
        transition: all .3s; }
        @media (min-width: 1200px) {
          .about__container--cta:hover::before {
            width: 110%; } }
        @media (min-width: 1400px) {
          .about__container--cta:hover::before {
            width: 70%; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  height: 100%; }

img {
  width: 100%;
  height: 100%; }

.banner {
  display: none; }
  @media (min-width: 900px) {
    .banner {
      display: block;
      height: 30vh;
      width: 75%;
      background-image: url(../../images/about8.png);
      background-position: top;
      background-size: cover; } }
  @media (min-width: 1200px) {
    .banner {
      height: 60vh;
      margin: 10em 0; } }

.header {
  background: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5em;
  padding: 1.5em; }
  .header__logo {
    height: 4em;
    width: auto; }
  @media (min-width: 900px) {
    .header .nav {
      display: flex; } }
  .header .nav__list {
    font-family: 'Montserrat';
    display: none;
    list-style: none; }
    @media (min-width: 900px) {
      .header .nav__list {
        display: flex; } }
    .header .nav__list--item--link {
      color: #565656;
      text-decoration: none;
      padding: .3em .8em;
      font-size: .9em;
      position: relative;
      transition: all 2s;
      font-weight: 500; }
      .header .nav__list--item--link::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background: #B00ECC; }
      .header .nav__list--item--link:hover {
        color: #FFF;
        z-index: 1; }
        .header .nav__list--item--link:hover::after {
          z-index: -10;
          animation: fill .8s forwards;
          -webkit-animation: fill .8s forwards;
          -moz-animation: fill .8s forwards; }

/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: .1em; }
  50% {
    width: 100%;
    height: .1em; }
  100% {
    width: 100%;
    height: 100%; } }

.mobile__nav {
  font-family: 'Montserrat'; }
  .mobile__nav--checkbox {
    display: none; }
  .mobile__nav--button {
    position: fixed;
    top: 1em;
    right: 2em;
    cursor: pointer;
    z-index: 2000;
    transition: .5s; }
    @media (min-width: 900px) {
      .mobile__nav--button {
        display: none; } }
    .mobile__nav--button:hover {
      transition: .5s; }
    .mobile__nav--button--icon {
      position: relative;
      margin-top: 1.5em; }
      .mobile__nav--button--icon:hover, .mobile__nav--button--icon:hover::before, .mobile__nav--button--icon:hover::after {
        background-color: purple; }
      .mobile__nav--button--icon, .mobile__nav--button--icon::before, .mobile__nav--button--icon::after {
        width: 1.5em;
        height: .1em;
        background-color: #565656;
        display: inline-block; }
      .mobile__nav--button--icon::before, .mobile__nav--button--icon::after {
        content: '';
        width: 1em;
        position: absolute;
        left: 0;
        transition: all .4s; }
      .mobile__nav--button--icon::before {
        top: -.5em; }
      .mobile__nav--button--icon::after {
        top: .5em; }
  .mobile__nav--background {
    height: 3em;
    width: 3em;
    border-radius: 50%;
    position: fixed;
    top: 1em;
    right: 1.4em;
    background: #FFF;
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
    @media (min-width: 900px) {
      .mobile__nav--background {
        display: none; } }
  .mobile__nav--navigation {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
    @media (min-width: 900px) {
      .mobile__nav--navigation {
        display: none; } }
    .mobile__nav--navigation--list {
      position: relative;
      list-style: none;
      text-align: center;
      width: 100%; }
      .mobile__nav--navigation--list--item {
        margin: 1em; }
        .mobile__nav--navigation--list--item--link {
          color: #565656;
          text-decoration: none;
          font-size: 2.2em;
          padding: .3em;
          display: inline-flex;
          transition: 0.4s ease-in; }
          .mobile__nav--navigation--list--item--link::before {
            content: '';
            position: absolute;
            transform: translate(-50%, -50%);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.2em;
            color: #B00ECC;
            z-index: -100000;
            opacity: 0;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 400px;
            transition: letter-spacing 0.4s ease-in; }
          .mobile__nav--navigation--list--item--link:hover::before {
            content: attr(data-text);
            font-family: 'cervanttisregular';
            opacity: .3;
            left: 50%;
            letter-spacing: 10px; }
  .mobile__nav--checkbox:checked ~ .mobile__nav--background {
    transform: scale(80); }
  .mobile__nav--checkbox:checked ~ .mobile__nav--navigation {
    opacity: 1;
    width: 100%; }
  .mobile__nav--checkbox:checked ~ .mobile__nav--navigation .mobile__nav--navigation--list {
    visibility: visible; }
  .mobile__nav--checkbox + .mobile__nav--button .mobile__nav--button--icon {
    transition: 1.5s; }
  .mobile__nav--checkbox:checked + .mobile__nav--button .mobile__nav--button--icon {
    background-color: transparent;
    transition: .1s; }
  .mobile__nav--checkbox:checked + .mobile__nav--button .mobile__nav--button--icon::before {
    top: 0;
    transform: rotate(135deg); }
  .mobile__nav--checkbox:checked + .mobile__nav--button .mobile__nav--button--icon::after {
    top: 0;
    transform: rotate(-135deg); }

.hero__pages {
  font-family: 'Montserrat';
  height: 90vh;
  position: relative; }
  .hero__pages--img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 90vh;
    right: 0;
    z-index: -1; }
  .hero__pages--content {
    font-family: 'Montserrat';
    background: rgba(255, 255, 255, 0.7);
    padding: 7em 4em 7em 3em; }
    @media (min-width: 550px) {
      .hero__pages--content {
        padding: 9em 4em 7em 6em; } }
    @media (min-width: 900px) {
      .hero__pages--content {
        padding: 7em 4em 7em 8em; } }
    @media (min-width: 1200px) {
      .hero__pages--content {
        width: 80%;
        padding: 7em 4em 4em 10em; } }
    .hero__pages--content--title {
      font-family: 'cervanttisregular';
      font-weight: normal;
      font-size: 1.5em; }
      .hero__pages--content--title span {
        color: #B00ECC;
        font-weight: 700; }
    .hero__pages--content--sub {
      font-size: 2.5em;
      margin-bottom: .5em;
      font-weight: 700;
      color: #565656; }
    .hero__pages--content--text {
      font-size: .9em;
      line-height: 1.5em;
      width: 100%; }
      @media (min-width: 900px) {
        .hero__pages--content--text {
          width: 50%; } }
  .hero__pages--footer {
    width: 70%;
    background: #565656;
    display: flex;
    position: relative;
    margin-top: 4em; }
    .hero__pages--footer:after {
      content: '';
      position: absolute;
      left: 90%;
      top: 80%;
      height: 1em;
      width: 20%;
      background: #B00ECC; }
      @media (min-width: 1200px) {
        .hero__pages--footer:after {
          width: 20%;
          height: 1em;
          top: 85%;
          left: 90%; } }
    @media (min-width: 550px) {
      .hero__pages--footer {
        margin-top: 0; } }
    @media (min-width: 900px) {
      .hero__pages--footer {
        width: 70%; } }
    .hero__pages--footer--img {
      width: 8em;
      height: 8em; }
      @media (min-width: 900px) {
        .hero__pages--footer--img {
          width: 12em;
          height: 12em;
          background: url(../images/main2.jpg);
          background-size: cover; } }
      @media (min-width: 1200px) {
        .hero__pages--footer--img {
          width: 20em; } }
    .hero__pages--footer--cta {
      color: #FFF;
      text-decoration: none;
      align-self: center;
      justify-content: flex-start;
      position: relative;
      white-space: nowrap; }
      @media (min-width: 900px) {
        .hero__pages--footer--cta {
          margin: 1em 10em; } }
      .hero__pages--footer--cta:before {
        content: '';
        position: absolute;
        width: 1%;
        height: 3em;
        left: -1em;
        top: -1em;
        border: 0.1em solid #B00ECC;
        transition: all .3s; }
      .hero__pages--footer--cta:hover::before {
        width: 120%;
        transition: all .3s; }

.footer {
  display: flex;
  justify-content: center;
  background-color: #565656; }
  .footer img {
    max-height: 500px; }

.services {
  font-family: 'Montserrat';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto; }
  .services:before {
    content: '';
    left: 0;
    height: 5em;
    width: 2%;
    background: #B00ECC; }
  .services__title {
    font-size: 1em;
    font-weight: normal; }
  .services__subtitle {
    font-weight: 700;
    font-size: 2em;
    padding-bottom: 2em; }
  .services__container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, 10vh);
    grid-gap: 1em; }
    .services__container--img--1 {
      grid-column: 1 / -1;
      grid-row: 3 / 7;
      width: 100%;
      height: 100%; }
      @media (min-width: 900px) {
        .services__container--img--1 {
          grid-column: 1 / 5;
          grid-row: 1 / 5; } }
    .services__container--img--2 {
      grid-column: 1 / -1;
      grid-row: 3 / 7;
      width: 100%;
      height: 100%; }
      @media (min-width: 900px) {
        .services__container--img--2 {
          grid-column: 9 / -1;
          grid-row: 1 / 5; } }
    .services__container--content {
      grid-column: 2 / 11;
      grid-row: 1 / 2; }
      @media (min-width: 900px) {
        .services__container--content {
          grid-column: 7 / -1;
          grid-row: 1 / 2; } }
      .services__container--content:before {
        content: '';
        position: absolute;
        left: 0;
        height: 10em;
        width: 5%;
        left: 80%;
        top: 70%;
        background: #B00ECC; }
        @media (min-width: 900px) {
          .services__container--content:before {
            height: 1.5em;
            grid-column: 5 / 11;
            grid-row: 6 / 10;
            width: 100%;
            left: 0;
            top: 0; } }
    .services__container--cta {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      color: #565656;
      text-decoration: none;
      position: relative;
      margin: 3em 1em;
      white-space: nowrap; }
      @media (min-width: 900px) {
        .services__container--cta {
          grid-column: 7 / 9; } }
      .services__container--cta:before {
        content: '';
        position: absolute;
        width: 1%;
        height: 3em;
        left: -1em;
        top: -1em;
        border: 0.1em solid #B00ECC;
        transition: all .3s;
        z-index: -2; }
      .services__container--cta:hover::before {
        width: 130%;
        transition: all .3s; }
        @media (min-width: 1200px) {
          .services__container--cta:hover::before {
            width: 110%; } }
        @media (min-width: 1400px) {
          .services__container--cta:hover::before {
            width: 70%; } }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }
